<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dany's Bar - Gestion de Bar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header>
        <h1>Dany's Bar</h1>
        <nav>
            <ul>
				<li><a href="home.html">Accueil</a></li>
				<li><a href="ingredient.html">Ingrédients</a></li>
				<li><a href="utilisateurs.html">Gestion des utilisateurs</a></li>
				<li><a href="recettes.html">Gestion des recettes</a></li>
				<li><a href="cocktails.html">Gestion des cocktails</a></li>
                <li class="dropdown">
    			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign up <b class="caret"></b></a>
    			<ul class="dropdown-menu">
        		<li><a href="login.html">Login</a></li>
       			<li><a href="#">Inscription</a></li>
    		</ul>
            </ul>
            
    </li>
        </nav>
    </header>
    <main>
        <section>
            <h2>Bienvenue sur la plateforme de gestion de Bar personnel de Dany's Bar</h2>
            
            <ul>
                <li>
					<hr>
                    <h3>Nos fonctionnalités principales: </h3>
                    <p>Notre système de gestion de bar vous permet de :</p>
                    <ul>
            <li>Enregistrer les commandes des clients</li>
            <li>Consulter le stock des boissons</li>
            <li>Suivre les ventes et les paiements</li>
            <li>Attribuer des tâches au personnel</li>
            <li>Créer des cocktails personnalisés</li>
            <li>Et bien plus encore...</li>
        </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 - Tous droits réservés</p>
    </footer>
</body>
</html>
