<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div class="container">
    <h2>Dany's Bar - Connexion : </h2>

    <form action="/utilisateurController" method="POST">
      <label for="uname">Nom d'utilisateur</label>
      <input type="text" placeholder="Entrez votre nom d'utilisateur" name="nom" required>

      <label for="psw">Mot de passe</label>
      <input type="password" placeholder="Entrez votre mot de passe" name="mot_de_passe" required>

      <button type="submit">Se connecter</button>
    </form>
  </div>
</body>
</html>
